<h2>
  <div class="div-titulo">
    <label value="Título">Cadastro de Usuário</label>
  </div>
</h2>
<div>
  <mat-form-field>
    <input matInput placeholder="Nome" type="text" name="nome" autocomplete="off"/>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <input matInput placeholder="Usuario" type="text" name="user" autocomplete="on"/>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <input matInput placeholder="Email" type="email" name="email" autocomplete="on"/>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <input matInput placeholder="Senha" type="password" name="senha" autocomplete="off"/>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <input matInput placeholder="Idade" type="number" name="idade" autocomplete="off"/>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <input matInput placeholder="Data de nascimento" type="date" name="data" autocomplete="off"/>
  </mat-form-field>
</div>

<div>

  <button mat-raised-button color="primary" ng-click="cadastrarUsuario()">
    Cadastrar
  </button>

</div>
