<h2>
  <div class="div-titulo">
    <label value="Título">Cadastro de Usuário</label>
  </div>
</h2>
<div>
  <mat-card>
    <mat-card-content>
      <mat-input-container>
        <input matInput [(ngModel)]="usuario.nome" name="nome" autocomplete="off" placeholder="Nome"/>
      </mat-input-container>
    </mat-card-content>
  </mat-card>
</div>
<div>
  <mat-card>
    <mat-card-content>
      <mat-input-container>
        <input matInput [(ngModel)]="usuario.login" name="login" autocomplete="on" placeholder="Login"/>
      </mat-input-container>
    </mat-card-content>
  </mat-card>
</div>
<div>
  <mat-card>
    <mat-card-content>
      <mat-input-container>
        <input matInput [(ngModel)]="usuario.email" name="email" autocomplete="on" placeholder="Email"/>
      </mat-input-container>
    </mat-card-content>
  </mat-card>
</div>
<div>
  <mat-card>
    <mat-card-content>
      <mat-input-container>
        <input matInput [(ngModel)]="usuario.senha" name="senha" type="password" autocomplete="off" placeholder="Senha"/>
      </mat-input-container>
    </mat-card-content>
  </mat-card>
</div>
<div>
  <mat-card>
    <mat-card-content>
      <mat-input-container>
        <input matInput [(ngModel)]="usuario.idade" name="idade" type="number" autocomplete="off" placeholder="Idade"/>
      </mat-input-container>
    </mat-card-content>
  </mat-card>
</div>
<div>
  <mat-card>
    <mat-card-content>
      <mat-input-container>
        <input matInput [(ngModel)]="usuario.data" name="data" autocomplete="off" type="date" placeholder="Data de nascimento"/>
      </mat-input-container>
    </mat-card-content>
  </mat-card>
</div>

<div>

  <button mat-raised-button color="primary" (click)="cadastrarUsuario()">
    Salvar
  </button>

</div>
